<div class="grid  md:justify-content-between">
    <div class="col-12 md:col-8">
        <h2>Abertura de Caixa</h2>
        <small class="text-left"> * - para campos obrigatórios</small>
     </div>
    <div class="col-12 md:col-4">
        <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
</div>
<div class="container-npiauto mt-4 mb-4 shadow-2">
    <p-panel>
     <ng-template pTemplate="header">
           
        </ng-template>  
        
        <div class="field col-12 md:col-12 p-3">
            <span class="p-float-label">
                <p-calendar [(ngModel)]="date1" [showIcon]="true" inputId="icon"></p-calendar>
                <label for="icon">Data de Abertura</label>
            </span>
        </div>

        <div class="field col-12 md:col-8 p-3">
            <span class="p-float-label">
                <input type="text" pInputText class="w-full"  maxlength="100"> 
                <label for="float-input" class="obrigatorio">Usuário Abertura</label>
            </span>
        </div>
           
            <div class="field col-12 md:col-8 p-3">
                <div class="p-inputgroup">
                    <input type="text" [disabled]="true"  pInputText placeholder="Grupo">   
                    <button (click)="showModalDialog()"type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>      
                </div>
                
                <p-dialog header="Pesquisa de Grupos" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">

                <div class="flex justify-content-between">
                </div>
                <div style="text-align: left">
                  <i class="" 
                     style="margin:4px 4px 0 0"> </i>
                  <input type="text" pInputText 
                         size="70" 
                         placeholder="Pesquisar"
                         (input)= "myTab.filterGlobal($event.target.value, 'contains')" 
                         style="width:fit-content" />
                </div>
                <div class="card shadow-3 mt-4 mb-4 p-0">
                  <p-table [responsive]="true" [rows]="20" [paginator]="true" class="w-100"
                  #myTab [value]="" 
                  [scrollable]="false" 
                  [globalFilterFields]="['descricao']" [paginator]="true" class="w-100">
                            <ng-template pTemplate="header">
                              <tr>
                                 <th>Descrição </th>
                              
                                 <th class="col-acoes-header"></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cargos>
                                <tr>
                                    <td [style]="{'width': '900px'}">
                                      <span class="p-column-title">Descrição</span>
                                      {{ cargos.descricao}}
                                    </td>
                                    
                                </tr>
                            </ng-template>
            
                        <ng-template  pTemplate="emptymessage">
                              <tr>
                                <td colspan="20">
                                  <span>Nenhum registro encontrado</span>
                                </td>
                              </tr>
                        </ng-template>
                         <ng-template pTemplate="summary">
                              <div class="">
                                  Totalizador: 0
                              </div>
                         </ng-template>
                    </p-table>
                </div>
            <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayModal=false" label="Cancelar" styleClass="p-button-text"></p-button>
                    </ng-template>
            </p-dialog>
    </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple type="button" label="Salvar" class="p-button-raised  p-button-text"></button>
        </ng-template>  
    </p-panel>
</div>







