<h2>Cadastro de Solicitação</h2>

<div class="field col-12 md:col-4 p-3">
    <span class="p-float-label">
        <p-dropdown [options]="tipo" optionLabel="name" class="w-full"></p-dropdown>
        <label for="float-input" class="obrigatorio">Motivo de Atendimento</label>
    </span>
</div> 

<div class="field col-12 md:col-8 p-3">
    <span class="p-float-label">
        <textarea rows="5" cols="100" pInputTextarea></textarea>
        <label for="float-input" class="obrigatorio">Observação</label>
    </span>
</div> 



<div class="field col-12 md:col-8 p-3">

    <button pButton pRipple type="button" label="Solicitar" class="p-button-raised p-button-success p-button-text"></button>
 
</div>

  

