<div class="flex justify-content-between">
    <h2>Pesquisa de Graus De Parentescos</h2>
    <a pButton label="Cadastrar" styleClass="p-button-sm" class="p-button-sm" icon="pi pi-plus mr-2"
    routerLink="/grau-parentesco/cadastro"></a>
</div>

<div style="text-align: left">
  <i class="" 
     style="margin:4px 4px 0 0"> </i>
  <input type="text" pInputText 
         size="90" 
         placeholder="Pesquisar"
         (input)= "myTab.filterGlobal($event.target.value, 'contains')" 
         style="width:fit-content" />
</div>

<div class="card shadow-3 mt-4 mb-4 p-0">
    <p-table [responsive]="true" [rows]="5" [paginator]="true" class="w-100"
    #myTab [value]="tableData" 
    [scrollable]="false" 
    [globalFilterFields]=
    "['id', 'descricao']" [paginator]="true" class="w-100">
            <ng-template pTemplate="header">
              
               
                <tr>
                  <th>ID</th>
                  <th>Descrição</th>
                  <th class="col-acoes-header"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estadoCivil>
                <tr>
                    <td [style]="{'width': '200px'}">
                      <span class="p-column-title">ID</span>
                      {{ estadoCivil.id }}
                    </td>
                    <td [style]="{'width': '900px'}">
                      <span class="p-column-title">Descrição</span>
                      {{ estadoCivil.descricao}}
                    </td>
                    
                    <td class="col-acoes p-1 justify-content-between">
                      <a pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                      styleClass="p-button-sm" class="p-button-raised p-button-info p-button-text"
                      [routerLink]="['/estado-civil', estadoCivil.id]"></a>
                      <button pButton pRipple icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                      styleClass="p-button-sm" class="p-button-raised p-button-danger p-button-text"
                      ></button>
                    </td>
                  </tr>
            </ng-template>
        <ng-template  pTemplate="emptymessage">
              <tr>
                <td colspan="3">
                  <span>Nenhum registro encontrado</span>
                </td>
              </tr>
        </ng-template>
         <ng-template pTemplate="summary">
              <div class="">
                  Totalizador: 3
              </div>
         </ng-template>
    </p-table>
</div>

