<div class="grid  md:justify-content-between">
    <div class="col-12 md:col-8">
        <h2>Cadastro de Funcionários</h2>
        <small class="text-left"> * - para campos obrigatórios</small>
    </div>
    <div class="col-12 md:col-4">
        <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
</div>
<div class="container-npiauto mt-4 mb-4 shadow-2">
    <p-panel>
        <ng-template pTemplate="header">
        </ng-template>       
        <div class="formgrid grid">
            <div class="field col-12 md:col-8 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                    <label for="float-input" class="obrigatorio">Nome</label>
                </span>
            </div>

            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                    <label for="float-input" class="obrigatorio">Nome de tratamento</label>
                </span>
            </div>
            
            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                    <label for="float-input" class="obrigatorio">Nome do Pai</label>
                </span>
            </div>

            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                    <label for="float-input" class="obrigatorio">Nome da mãe</label>
                </span>
            </div>
            
           <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <p-dropdown [options]="sexo" optionLabel="name" class="w-full"></p-dropdown>
                    <label for="float-input" class="obrigatorio">Sexo</label>
                </span>
            </div> 


            <div class="field col-12 md:col-6 p-3">
                <div class="p-inputgroup">
                    <input [disabled]="true"  type="text" pInputText placeholder="Cargo">
                       
                    <button (click)="showModalDialogCargo()" type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn">
                        
                    </button>      
                    <button (click)= "showModalDialogCadastroCargo()" pButton pRipple type="button" label="+" styleClass="p-button-rounded"></button>
                </div>


                <p-dialog header="Cadastro de Cargos" [(visible)]="displayModalCargoCadastro" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">  
            
                <div class="grid  md:justify-content-between">
                    <div class="col-12 md:col-8">
    
                        <small class="text-left"> * - para campos obrigatórios</small>
                    </div>
                    <div class="col-12 md:col-4">
                        <p-breadcrumb [model]="items"></p-breadcrumb>
                    </div>
                </div>
               
                   
                             
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-12 p-3">
                                <span class="p-float-label">
                                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                                    <label for="float-input" class="obrigatorio">Descrição</label>
                                </span>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple type="button" (click)="displayModalCargoCadastro=false" label="Salvar" class="p-button-raised  p-button-text"></button>

                        </ng-template>  
                    </p-dialog>

            <p-dialog header="Pesquisa de Cargos" [(visible)]="displayModalCargo" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">

                <div class="flex justify-content-between">
                </div>
                <div style="text-align: left">
                  <i class="" 
                     style="margin:4px 4px 0 0"> </i>
                  <input type="text" pInputText 
                         size="70" 
                         placeholder="Pesquisar"
                         (input)= "myTab.filterGlobal($event.target.value, 'contains')" 
                         style="width:fit-content" />
                </div>
                <div class="card shadow-3 mt-4 mb-4 p-0">
                  <p-table [responsive]="true" [rows]="10" [paginator]="true" class="w-100"
                  #myTab [value]="tableData1" 
                  [scrollable]="false" 
                  [globalFilterFields]=
                  "['descricao']" [paginator]="true" class="w-100">
                            <ng-template pTemplate="header">
                              <tr>
                                 <th>Descrição </th>
                                
                                 <th class="col-acoes-header"></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cargos>
                                <tr>
                                    <td [style]="{'width': '900px'}">
                                      <span class="p-column-title">Descrição</span>
                                      {{ cargos.descricao}}
                                    </td>
                                </tr>
                            </ng-template>
            
                        <ng-template  pTemplate="emptymessage">
                              <tr>
                                <td colspan="20">
                                  <span>Nenhum registro encontrado</span>
                                </td>
                              </tr>
                        </ng-template>
                         <ng-template pTemplate="summary">
                              <div class="">
                                  Totalizador: 1
                              </div>
                         </ng-template>
                    </p-table>
                </div>
            <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayModalCargo=false" label="Cancelar" styleClass="p-button-text"></p-button>
                    </ng-template>
            </p-dialog>

            </div>

            <div class="field col-12 md:col-3 p-3">
                <div class="p-inputgroup">
                    <input [disabled]="true"  type="text" pInputText placeholder="Filial">   
                    <button (click)="showModalDialog()"type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
                    <button pButton pRipple type="button"  (click)="showModalDialogCadastroFiliais()" label="+" styleClass="p-button-warn"></button>     
                </div>
              <p-dialog header="Cadastro de Filiais" [(visible)]="displayModalCadastroFiliais" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">  
                 <div class="grid  md:justify-content-between">
                    <div class="col-12 md:col-8">
                        <small class="text-left"> * - para campos obrigatórios</small>
                    </div>
                    <div class="col-12 md:col-4">
                        <p-breadcrumb [model]="items"></p-breadcrumb>
                    </div>
                </div>
                     <div class="formgrid grid">
                            <div class="field col-12 md:col-12 p-3">
                                <span class="p-float-label">
                                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                                    <label for="float-input" class="obrigatorio">Nome Fantasia</label>
                                </span>
                            </div>

                            <div class="field col-12 md:col-12 p-3">
                                <span class="p-float-label">
                                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                                    <label for="float-input" class="obrigatorio">Sigla</label>
                                </span>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple type="button" (click)="displayModalCadastroFiliais=false" label="Salvar" class="p-button-raised  p-button-text"></button>

                        </ng-template>  
                    </p-dialog>

    <p-dialog header="Pesquisa de Filiais" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
  
 <div class="flex justify-content-between">
    </div>
    <div style="text-align: left">
      <i class="" 
         style="margin:4px 4px 0 0"> </i>
      <input type="text" pInputText 
             size="70" 
             placeholder="Pesquisar"
             (input)= "myTab.filterGlobal($event.target.value, 'contains')" 
             style="width:fit-content" />
    </div>
    <div class="card shadow-3 mt-4 mb-4 p-0">
      <p-table [responsive]="true" [rows]="10" [paginator]="true" class="w-100"
      #myTab [value]="tableData" 
      [scrollable]="false" 
      [globalFilterFields]=
      "['nome','sigla']" [paginator]="true" class="w-100">
                <ng-template pTemplate="header">
                  <tr>
                     <th>Nome </th>
                      <th>Sigla</th>
                     <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-filiais>
                    <tr>
                        <td [style]="{'width': '900px'}">
                          <span class="p-column-title">Nome</span>
                          {{ filiais.nome}}
                        </td>
    
                        <td [style]="{'width': '900px'}">
                            <span class="p-column-title">Sigla</span>
                            {{ filiais.sigla}}
                          </td>
                        </tr>
                </ng-template>

            <ng-template  pTemplate="emptymessage">
                  <tr>
                    <td colspan="20">
                      <span>Nenhum registro encontrado</span>
                    </td>
                  </tr>
            </ng-template>
             <ng-template pTemplate="summary">
                  <div class="">
                      Totalizador: 1
                  </div>
             </ng-template>
        </p-table>
    </div>
    
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Cancelar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
        </div>
        
        <div class="field col-12 md:col-3 p-3">
                <div class="p-inputgroup" style="color:black">
                    <input [disabled]="true"  type="text" pInputText placeholder="Naturalidade">   
                    <button (click)="showModalDialogNaturalidade()"type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
                    <button pButton pRipple type="button"(click)="showModalDialogCadastroNaturalidade()" label="+" styleClass="p-button-warn"></button>      
                </div>

                <p-dialog header="Cadastro de Filiais" [(visible)]="displayModalCadastroNaturalidade" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">  
                 <div class="grid  md:justify-content-between">
                    <div class="col-12 md:col-8">
                        <small class="text-left"> * - para campos obrigatórios</small>
                    </div>
                    <div class="col-12 md:col-4">
                        <p-breadcrumb [model]="items"></p-breadcrumb>
                    </div>
                </div>
                     <div class="formgrid grid">
                            <div class="field col-12 md:col-12 p-3">
                                <span class="p-float-label">
                                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                                    <label for="float-input" class="obrigatorio">Descrição</label>
                                </span>
                            </div>

                            <div class="field col-12 md:col-12 p-3">
                                <span class="p-float-label">
                                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                                    <label for="float-input" class="obrigatorio">Código Municipio</label>
                                </span>
                            </div>

                            <div class="field col-12 md:col-12 p-3">
                                <span class="p-float-label">
                                    <p-dropdown [options]="uf" optionLabel="name" class="w-full"></p-dropdown>
                                    <label for="float-input" class="obrigatorio">UF</label>
                                </span>
                            </div> 
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple type="button" (click)="displayModalCadastroNaturalidade=false" label="Salvar" class="p-button-raised  p-button-text"></button>

                        </ng-template>  
                    </p-dialog>



                <p-dialog header="Pesquisa de Naturalidades" [(visible)]="displayModalNaturalidade" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">

                <div class="flex justify-content-between">
                </div>
                <div style="text-align: left">
                  <i class="" 
                     style="margin:4px 4px 0 0"> </i>
                  <input type="text" pInputText 
                         size="70" 
                         placeholder="Pesquisar"
                         (input)= "myTab.filterGlobal($event.target.value, 'contains')" 
                         style="width:fit-content" />
                </div>
                <div class="card shadow-3 mt-4 mb-4 p-0">
                  <p-table [responsive]="true" [rows]="10" [paginator]="true" class="w-100"
                  #myTab [value]="tableData2" 
                  [scrollable]="false" 
                  [globalFilterFields]=
                  "['descricao']" [paginator]="true" class="w-100">
                            <ng-template pTemplate="header">
                              <tr>
                                 <th>Descrição </th>
                                 <th>UF </th>
                                
                                 <th class="col-acoes-header"></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cargos>
                                <tr>
                                    <td [style]="{'width': '900px'}">
                                      <span class="p-column-title">Descrição</span>
                                      {{ cargos.descricao}}
                                    </td>
                                    <td [style]="{'width': '900px'}">
                                        <span class="p-column-title">UF</span>
                                        {{ cargos.UF}}
                                      </td>
                                </tr>
                            </ng-template>
            
                        <ng-template  pTemplate="emptymessage">
                              <tr>
                                <td colspan="20">
                                  <span>Nenhum registro encontrado</span>
                                </td>
                              </tr>
                        </ng-template>
                         <ng-template pTemplate="summary">
                              <div class="">
                                  Totalizador: 1
                              </div>
                         </ng-template>
                    </p-table>
                </div>
            <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayModalNaturalidade=false" label="Cancelar" styleClass="p-button-text"></p-button>
                    </ng-template>
            </p-dialog>

                
            </div>

            <div class="field col-12 md:col-6 p-3">
                <div class="p-inputgroup">
                    <input type="text" [disabled]="true"  pInputText placeholder="Setor">   
                    <button (click)="showModalDialogSetor()"type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
                    <button pButton pRipple type="button" label="+" styleClass="p-button-warn"></button>  
                </div>
                <p-dialog header="Pesquisa de Setores" [(visible)]="displayModalSetores" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">

                <div class="flex justify-content-between">
                </div>
                <div style="text-align: left">
                  <i class="" 
                     style="margin:4px 4px 0 0"> </i>
                  <input type="text" pInputText 
                         size="70" 
                         placeholder="Pesquisar"
                         (input)= "myTab.filterGlobal($event.target.value, 'contains')" 
                         style="width:fit-content" />
                </div>
                <div class="card shadow-3 mt-4 mb-4 p-0">
                  <p-table [responsive]="true" [rows]="20" [paginator]="true" class="w-100"
                  #myTab [value]="tableData3" 
                  [scrollable]="false" 
                  [globalFilterFields]="['descricao']" [paginator]="true" class="w-100">
                            <ng-template pTemplate="header">
                              <tr>
                                 <th>Descrição </th>
                              
                                 <th class="col-acoes-header"></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cargos>
                                <tr>
                                    <td [style]="{'width': '900px'}">
                                      <span class="p-column-title">Descrição</span>
                                      {{ cargos.descricao}}
                                    </td>
                                    
                                </tr>
                            </ng-template>
            
                        <ng-template  pTemplate="emptymessage">
                              <tr>
                                <td colspan="20">
                                  <span>Nenhum registro encontrado</span>
                                </td>
                              </tr>
                        </ng-template>
                         <ng-template pTemplate="summary">
                              <div class="">
                                  Totalizador: 1
                              </div>
                         </ng-template>
                    </p-table>
                </div>
            <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayModalSetores=false" label="Cancelar" styleClass="p-button-text"></p-button>
                    </ng-template>
            </p-dialog>
            </div>

            <div class="field col-12 md:col-3 p-3">
                <div class="p-inputgroup">
                    <input type="text"  [disabled]="true"  pInputText placeholder="Gerente">   
                    <button type="button" (click)="showModalDialogGerente()" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
                    <button pButton pRipple type="button" label="+" styleClass="p-button-warn"></button>      
                </div>
                <p-dialog header="Pesquisa de Gerentes" [(visible)]="displayModalGerentes" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">

                <div class="flex justify-content-between">
                </div>
                <div style="text-align: left">
                  <i class="" 
                     style="margin:4px 4px 0 0"> </i>
                  <input type="text" pInputText 
                         size="70" 
                         placeholder="Pesquisar"
                         (input)= "myTab.filterGlobal($event.target.value, 'contains')" 
                         style="width:fit-content" />
                </div>
                <div class="card shadow-3 mt-4 mb-4 p-0">
                  <p-table [responsive]="true" [rows]="10" [paginator]="true" class="w-100"
                  #myTab [value]="tableData4" 
                  [scrollable]="false" 
                  [globalFilterFields]=
                  "['nome','tratamento']" [paginator]="true" class="w-100">
                            <ng-template pTemplate="header">
                              <tr>
                                 <th>Nome </th>
                                 <th>Nome de Tratamento </th>
                                <th class="col-acoes-header"></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cargos>
                                <tr>
                                    <td [style]="{'width': '900px'}">
                                      <span class="p-column-title">Nome</span>
                                      {{ cargos.nome}}
                                    </td>
                                    <td [style]="{'width': '900px'}">
                                        <span class="p-column-title">Nome de Tratamento</span>
                                        {{ cargos.tratamento}}
                                      </td>
                                </tr>
                            </ng-template>
            
                        <ng-template  pTemplate="emptymessage">
                              <tr>
                                <td colspan="20">
                                  <span>Nenhum registro encontrado</span>
                                </td>
                              </tr>
                        </ng-template>
                         <ng-template pTemplate="summary">
                              <div class="">
                                  Totalizador: 1
                              </div>
                         </ng-template>
                    </p-table>
                </div>
            <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayModalGerentes=false" label="Cancelar" styleClass="p-button-text"></p-button>
                    </ng-template>
            </p-dialog>
            </div>

            <div class="field col-12 md:col-3 p-3">
                <div  class="p-inputgroup">
                    <input type="text" [disabled]="true"  pInputText placeholder="Profissão" style="color: black;">   
                    <button type="button" (click)="showModalDialogProfissao()" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
                    <button pButton pRipple type="button" (click)="showModalDialogCadastroProfissao()" label="+" styleClass="p-button-warn"></button> 
                         
                </div>

                <p-dialog header="Cadastro de Profissões" [(visible)]="displayModalCargoProfissao" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">  
            
                <div class="grid  md:justify-content-between">
                    <div class="col-12 md:col-8">
    
                        <small class="text-left"> * - para campos obrigatórios</small>
                    </div>
                    <div class="col-12 md:col-4">
                        <p-breadcrumb [model]="items"></p-breadcrumb>
                    </div>
                </div>
               
                   <div class="formgrid grid">
                            <div class="field col-12 md:col-12 p-3">
                                <span class="p-float-label">
                                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                                    <label for="float-input" class="obrigatorio">Descrição</label>
                                </span>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple type="button" (click)="displayModalCargoProfissao=false" label="Salvar" class="p-button-raised  p-button-text"></button>

                        </ng-template>  
                    </p-dialog>

                

                <p-dialog header="Pesquisa de Profissões" [(visible)]="displayModalProfissao" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">

                <div class="flex justify-content-between">
                </div>
                <div style="text-align: left">
                  <i class="" 
                     style="margin:4px 4px 0 0"> </i>
                  <input type="text" pInputText 
                         size="70" 
                         placeholder="Pesquisar"
                         (input)= "myTab.filterGlobal($event.target.value, 'contains')" 
                         style="width:fit-content" />
                </div>
                <div class="card shadow-3 mt-4 mb-4 p-0">
                  <p-table [responsive]="true" [rows]="20" [paginator]="true" class="w-100"
                  #myTab [value]="tableData5" 
                  [scrollable]="false" 
                  [globalFilterFields]="['descricao']" [paginator]="true" class="w-100">
                            <ng-template pTemplate="header">
                              <tr>
                                 <th>Descrição </th>
                              
                                 <th class="col-acoes-header"></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cargos>
                                <tr>
                                    <td [style]="{'width': '900px'}">
                                      <span class="p-column-title">Descrição</span>
                                      {{ cargos.descricao}}
                                    </td>
                                    
                                </tr>
                            </ng-template>
            
                        <ng-template  pTemplate="emptymessage">
                              <tr>
                                <td colspan="20">
                                  <span>Nenhum registro encontrado</span>
                                </td>
                              </tr>
                        </ng-template>
                         <ng-template pTemplate="summary">
                              <div class="">
                                  Totalizador: 1
                              </div>
                         </ng-template>
                    </p-table>
                </div>
            <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayModalProfissao=false" label="Cancelar" styleClass="p-button-text"></p-button>
                    </ng-template>
            </p-dialog>
            </div>
          
    
            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                    <label for="float-input" class="obrigatorio">Orgão Expedidor</label>
                </span>
            </div>

            <div class="field col-10 md:col-4 p-3">
                <span class="p-float-label">
                    <p-inputMask mask="9999999999-9" class="w-full"></p-inputMask>
                    <label for="float-input" class="obrigatorio">PIS</label>
                </span>
            </div>

            
            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <p-inputMask mask="999.999.999-99" class="w-full"></p-inputMask>
                    <label for="float-input" class="obrigatorio">CPF</label>
                </span>
            </div>
            
            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                    <label for="float-input" class="obrigatorio">Nacionalidade</label>
                </span>
            </div>

            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <input type="text" pInputText class="w-full"  maxlength="100"> 
                    <label for="float-input" class="obrigatorio">Email</label>
                </span>
            </div>
         <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <p-inputMask mask="99.999.999-9" class="w-full"></p-inputMask>
                    <label for="float-input" class="obrigatorio">RG</label>
                </span>
            </div>

            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="date1" [showIcon]="true" inputId="icon"></p-calendar>
                    <label for="icon">Data de Nascimento</label>
                </span>
            </div>

            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="date2" [showIcon]="true" inputId="icon"></p-calendar>
                    <label for="icon">Data de admissão</label>
                </span>
            </div>

            <div class="field col-12 md:col-4 p-3">
                <span class="p-float-label">
                    <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
                    <label for="icon">Data de demissão</label>
                </span>
            </div>


         <div class="field col-12 md:col-4 p-3">
            <label for="float-input" class="obrigatorio">Status</label>
            <span class="p-float-label"> 
        <p-selectButton [options]="selectStatus" [(ngModel)]="value1" optionLabel="label" optionValue="value" class="w-full"></p-selectButton>
        
    </span>
        </div>
            <div class="field col-12 md:col-10 p-3">
                <span class="p-float-label">
                    <textarea rows="5" cols="105" pInputTextarea></textarea>
                    <label for="float-input" class="obrigatorio">Observação</label>
                </span>
            </div> 
        </div>

<p-fileUpload
  name="myfile[]"
  accept="image/*">
 </p-fileUpload>

<small class="text-left"> Arraste a imagem aqui ou selecione </small>
        <ng-template pTemplate="footer">
            <button pButton pRipple type="button" label="Salvar" class="p-button-raised  p-button-text"></button>
        </ng-template>  
    </p-panel>
</div>











