<h2>Configuração de Contrato</h2>

<div class="field col-12 md:col-3">
    <span class="field col-12 md:col-4 p-3">
    <label for="minmax"  class="obrigatorio">Carência em dias</label>
    <p-inputNumber [(ngModel)]="value4" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="0" ></p-inputNumber>

    </span>
</div>
<button pButton pRipple type="button" label="Salvar" class="p-button-raised p-button-success p-button-text"></button>  

